@{
    ViewBag.Title = "Error";
}
<!DOCTYPE html>
<html>
<head>
    <title>MicroService - @ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body style="text-align: center;">



    <h3>Cannot GET with specified URL path</h3>
    <p>For proper usage of API, refer to home page found <a href="/">Here</a></p>




</body>
</html>